/* ------ Buttons ------ */
button{
    cursor: pointer;
}

// cta
.btn-cta{
    align-items: center;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat';
    font-size: 14px;
    gap: 10px;
    height: 47px;
    justify-content: center;
    font-weight: 500;
    outline: none;
    padding: 0;
    transition: ease 200ms;
    width: 250px;
}

.btn-cta-default{
    background: $color-brand-default;
    color: $color-neutral-0;

    &:hover{
        background: $color-brand-hover;
    }
}

.btn-cta-processing{
    background: $color-brand-default;
    color: $color-neutral-0;
    opacity: .7;
}

.btn-cta-disabled{
    background: $color-neutral-200;
    color: $color-neutral-600;
}


// Landing cta
.btn-cta-landing{
    background: $color-brand-default;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    color: $color-neutral-0;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    height: 55px;
    outline: none;
    padding: 0;
    text-transform: uppercase;
    width: 200px;

    &:hover{
        background: $color-brand-hover;
    }
}


// Number Buttons
@mixin btn-number{
    align-items: center;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    font-family: 'Montserrat';
    font-size: 18px;
    gap: 10px;
    height: 35px;
    justify-content: center;
    font-weight: 500;
    outline: none;
    padding: 0;
    transition: ease 200ms;
    width: 85px;
}

.btn-number-not-selected{
    @include btn-number();

    background: $color-neutral-200;

    span{
        background: $color-brand-default;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover{
        background: $color-neutral-300;
    }

}

.btn-number-selected{
    @include btn-number();

    background: $color-brand-default;

    span{
        color: $color-neutral-100;
    }

    &:hover{
        background: $color-brand-hover;
    }
}
