
/* Animation Settings */
@mixin defaultAnimation {
    animation-name: loading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading{
    0%{
        background: $color-neutral-200;
    }
    50%{
        background: $color-neutral-300;
    }
    100%{
        background: $color-neutral-200;
    }
}

@mixin opacityAnimation {
    animation-name: opacityLoading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes opacityLoading{
    0%{
        opacity: .2;
    }
    50%{
        opacity: .5;
    }
    100%{
        opacity: .2;
    }
}

@mixin fillAnimation {
    animation-name: fillLoading;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes fillLoading{
    0%{
        fill: $color-neutral-200;
    }
    50%{
        fill: $color-neutral-300;
    }
    100%{
        fill: $color-neutral-200;
    }
}



/* Loading Elements */
.user-loading{
    height: 16px;
    width: 50px;
    @include defaultAnimation();
}
