/* AeroPay Component */
.aeropay-container{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;
}

.aeropay-arrow{
    transform: rotate(90deg);
    transition: ease 300ms;
    width: 20px;
}

.aeropay-arrow-active{
    transform: rotate(-90deg);
}

.aeropay-aerolab-logo{
    width: 24px;
    height: 24px;
}

.aeropay-button-container{

    align-items: center;
    background: $color-neutral-0;
    border: 1px solid $color-neutral-300;
    border-radius: 10px;
    box-shadow: $box-shadow-default;
    cursor: pointer;
    display: flex;
    gap: 10px;
    justify-content: center;
    padding: 5px 10px;

    &:hover{
        background: $color-neutral-100;
    }

}

