$card-border-radius: 30px;
$card-padding: 8px;
$border-default: 1px solid $color-neutral-300;

.explanation-cards-container{
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 100px 0;
    width: 100%;

    .explanation-card-container{
        background-color: $color-neutral-0;
        border: $border-default;
        border-radius: $card-border-radius;
        box-sizing: border-box;
        padding: $card-padding;
        position: relative;
        transition: ease 500ms;
        width: 30%;

        .card-img-container{
            width: 100%;
            background: $color-special-illustration-bg;
            border: $border-default;
            border-bottom: none;
            border-radius: ($card-border-radius - $card-padding) ($card-border-radius - $card-padding) 0 0;
            
            img{
                width: 100%;
            }
        }

        .card-text-container{
            background-color: $color-neutral-0;
            border: $border-default;
            border-radius: 0 0 ($card-border-radius - $card-padding) ($card-border-radius - $card-padding);
            padding: 15px;
            
            p{
                color: $color-neutral-600;
                font-size: 14px;
                font-weight: 500;
                padding: 5px 0;
                width: 80%;
            }
        }

        .card-title-container{

            align-items: center;
            display: flex;
            gap: 10px;

            h3{
                font-size: 25px;
                @include textGradient;
            }

            img{
                background-color: $color-brand-light;
                border-radius: 8px;
                padding: 5px;
            }

        }

        &:hover{
            transform: translateY(-20%) !important;
        }

        &:nth-child(1){
            transform: rotateZ(-5deg) translateX(40px);
        }

        &:nth-child(2){
            transform: translateY(-40px);
        }

        &:nth-child(3){
            transform: rotateZ(5deg) translateX(-40px);
        }

    }


    &::before{
        background: $color-special-section-bg;
        content: "";
        height: 45%;
        // margin-top: -30px;
        left: 0;
        position: absolute;
        width: 100%;
        z-index: -1;
    }
}


/* Tablet Styles */
@media (max-width: 1024px){

    .explanation-cards-container{
        align-items: flex-end;
        gap: 10px;
        margin-top: 0px;

        .explanation-card-container{
            background-color: rgba($color: white, $alpha: .7);
            padding: 12px;
            transform: none !important;
            width: 33%;

            &:hover{ transform: none !important; }

            .card-text-container{
                p{
                    padding-top: 15px;
                    width: 100%;
                }
            }

            .card-title-container{
                h3{
                    font-size: 22px;
                }
            }
        }

        &::before{
            height: 50%;
            margin-bottom: -40px;
        }

    }

}


/* Mobile Styles */
@media (max-width: 475px) {

    .explanation-cards-container{
        flex-direction: column;
        gap: 30px;
        justify-content: flex-end;
        margin-top: 0;

        .explanation-card-container{
            background-color: rgba($color: white, $alpha: .7);
            padding: 12px;
            transform: none !important;
            width: 100%;

            &:hover{ transform: none !important; }

            .card-text-container{
                p{
                    width: 100%;
                }
            }
        }

        &::before{
            height: 220%;
            margin-bottom: -40px;
        }

    }

}


@media ( max-height: 800px ){

    .explanation-cards-container{

        &::before{
            height: 235%;
        }

    }

}

@media ( max-height: 700px ){

    .explanation-cards-container{

        &::before{
            height: 270%;
        }

    }

}

