footer{
    height: 200px;
    margin-top: 70px;
    position: relative;
    transition: ease 300ms;
    width: 100%;
    
    .footer-btn{
        align-items: center;
        display: flex;
        gap: 10px;
        height: 100%;
        justify-content: center;
        text-decoration: none;
        width: 100%;

        p{
            color: $color-neutral-600;
            font-size: 15px;
            font-weight: 500;
        }

    }

    &:hover{
        
        p{
            @include textGradient;
        }


    }

}