nav{
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 15px $side-margin;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.nav-container{
    align-items: center;
    box-sizing: border-box;   
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    max-width: $max-body-width;
    width: 100%;
}


@media ( min-width: 1650px ){
    nav{
        padding: 15px 0;
        // left: unset;
    }
}

@media ( max-width: 475px ){
    nav{
        padding: 15px $side-margin-mobile;
    }
}