.products-footer{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
    position: relative;
    
    .products-amount-container{
        left: 50%;
        position: absolute;
        transform: translateX(-50%);

        p{
            font-weight: 500;
            font-size: 15px;
            color: $color-blue-default;
            
            span{
                color: $color-neutral-600;
            }
        }
    }
}

/* Mobile Styles */
@media ( max-width: 475px ){

    .products-footer{
        margin-top: 70px;
        flex-direction: column-reverse;

        .products-amount-container{
            margin-top: 25px;
            left: unset;
            position: relative;
            transform: unset;
        }
    }

}

/* Tablet Styles */
@media ( max-width: 1024px ){

    .products-footer{
        margin-top: 70px;
        flex-direction: column-reverse;

        .products-amount-container{
            margin-top: 25px;
            left: unset;
            position: relative;
            transform: unset;
        }
    }

}