/* ------ Colores ------ */
// Neutrals
$color-neutral-900: #252f3d;
$color-neutral-600: #7C899C;
$color-neutral-500: #8FA3BF;
$color-neutral-300: #DAE4F2;
$color-neutral-200: #E6EDF7;
$color-neutral-100: #F5F9FF;
$color-neutral-0: white;

// Brand
$color-brand-default: linear-gradient(to right, rgba(23,111,235,1) 0%, rgba(255,128,255,1) 100%);
$color-brand-opacity: linear-gradient(to right, rgba(23,111,235,.7) 0%, rgba(255,128,255,.7) 100%);
$color-brand-hover: linear-gradient(to right, rgba(22,103,217,1) 0%, rgba(242,121,242,1) 100%);
$color-brand-light: #E5F0FF;
$color-brand-light2: #CCE1FF;

// Green
$color-green-default: #29CC74;
$color-green-light: #CCFFE3;

// Red
$color-red-default: #E07F4F;
$color-red-light: #FFDFD9;

// Blue
$color-blue-default: rgba(23,111,235,1);

// Specials
$color-special-illustration-bg: linear-gradient(to right, rgba(114,150,235,1) 0%, rgba(234,192,233,1) 100%);
$color-special-section-bg: linear-gradient(to right, rgba(23,111,235,.5) 0%, rgba(255,128,255,.5) 100%);
$color-special-aerolab: linear-gradient(to right, rgba(255,136,0,1) 0%, rgba(255,102,0,1) 100%);

// Sizes, Paddings & Margins
$side-margin: 80px;
$max-body-width: 1464px;

// Box shadow
$box-shadow-default: 0px 2px 12px rgba(0, 0, 0, 0.08);
$box-shadow-2: 0px 2px 8px rgba(0, 0, 0, 0.08);
$box-shadow-card: 0px 2px 40px rgba(0, 0, 0, 0.05);

/* Mobile Styles */
$side-margin-mobile: 20px;